<%-include('../cabecalho.ejs')%>
<h1>Adicionar Fabricante</h1>
<div>
<a href="/fabricante/lst">Listar</a>
</div>
<div>
    <form  method="post">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
        
         <label>Ano Fundação:</label>
        <input type="number" name="anofundacao"><br>

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>