<%-include('../cabecalho.ejs')%>
<h1>Adicionar Artista</h1>
<div>
<a href="/artista/lst" class="btn" >Listar</a>
</div>
<div>
    <form  method="post">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
        
         <label>Data de nascimento:</label>
        <input type="date" name="dataNascimento"><br>

         <label>CPF:</label>
        <input type="number" name="CPF"><br>
        
         <label>Email:</label>
        <input type="text" name="email"><br>

         <label>Celular:</label>
        <input type="number" name="celular"><br>
        

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>